@media (max-width: 1367.99px) {
  .heading {
    font-size: 4.5rem;
  }
  .header::after {
    width: calc(100% - 68%);
  }
  .logo img {
    width: 65%;
    height: auto;
  }
  .search-bar {
    margin-right: 50px;
  }
  .banner {
    padding-left: 20rem;
    padding-right: 10rem;
  }
  /* .banner .coffee {
    width: 100%;
  } */
  .banner .coffee img {
    width: 100%;
  }

  /* ABOUT SECTION  */
  .about-wrapper {
    padding-left: 12rem;
    padding-right: 10rem;
  }

  /* SERVICES SECTION  */
  .services-wrapper {
    box-sizing: border-box;
    padding: 0px 100px;
    padding-bottom: 125px;
  }
  .services-carosuel {
    padding: 0px;
  }
  .services-section .single-item .item-img {
    padding: 40px 30px;
    background: #ffffff;
  }
  .services-section .single-item.item-02 .item-img {
    padding: 40px 60px;
    background: #db3620;
  }
  .services-section .single-item .item-img img {
    width: 100%;
  }

  /* CONTACT SECTION RWD STYLES  */
  .contact-wrapper {
    padding: 0px 120px;
    padding-bottom: 138px;
  }
  .coffee-01 {
    margin: 20px auto;
    margin-left: 320px;
  }
}
