.header {
  background: url(../images/banner/beader-bg.png) no-repeat center center;
  background-size: cover;
  width: 100%;
  height: auto;
  position: relative;
  z-index: 1;
  border-left: 1.5rem solid #ffffff;
}
.header::after {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  height: 100%;
  width: calc(100%);
  max-width: 52.5rem;
  background: #db3721;
  z-index: 2;
}
.menu-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #ffffff;
}
.logo {
  padding-top: 3.2rem;
  margin-left: 5.5rem;
}

.main-menu {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  color: #ffffff;
  position: relative;
  z-index: 3;
}
.main-menu li {
  align-self: center;
  margin-right: 2.2rem;
}
.main-menu li a {
  font-size: 1.7rem;
  position: relative;
  z-index: 1;
  display: inline-block;
  padding: 61px 25px 12px 25px;
}

.main-menu li a:hover {
  color: #ffffff;
  background: #db341e;
}

.search-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #ffffff;
  position: relative;
  z-index: 3;
  top: 30px;
}
.search-bar .search-icon-bar i {
  font-size: 1.7rem;
  color: #ffffff;
}
.search-popup {
  position: absolute;
  top: 50px;
  right: 0;
  width: 420px;
  display: none;
}
.search-popup form {
  position: relative;
  z-index: 1;
  width: 100%;
  height: auto;
  display: block;
}
.search-popup form input {
  display: block;
  width: 100%;
  height: 5rem;
  padding: 25px;
  line-height: initial;
  transition: 0.3s linear;
  border: none;
  outline: none;
  border-radius: 3rem;
  font-size: 13px;
  color: #494848;
  background: #ffffff;
  border: 0.1rem solid #eeeeee;
}
.search-popup form button {
  display: block;
  position: absolute;
  top: 51px;
  right: 1px;
  z-index: 4;
  width: 100%;
  height: 50px;
  max-width: 100px;
  margin: 0;
  border: none;
  outline: none;
  border-radius: 30px;
  color: #020000;
  background: #1e1d46;
  text-align: center;
  transition: 0.3s linear;
  transform: translateY(-100%);
}
.search-popup form button i {
  color: #ffffff;
  font-size: 30px;
  line-height: 1.5;
}

.top-contact,
.navbar-toggler {
  position: relative;
  z-index: 3;
}
.top-contact {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  top: 30px;
}
.top-contact a {
  color: #ffffff;
  font-size: 1.7rem;
  display: inline-block;
  margin-right: 3rem;
}
.top-contact a i {
  color: #ffffff;
  font-size: 1.7rem;
  padding-right: 5px;
}

/* START HEADER BANNER STYLES  */
.banner {
  position: relative;
  z-index: 3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 30rem;
  padding-right: 15rem;
}
.banner .banner-content {
  flex-basis: 45%;
  margin-top: 19.3rem;
  margin-bottom: 24.9rem;
  color: #ffffff;
}
.banner .banner-content h1 {
  font-size: 12.1rem;
  color: #ffffff;
  text-transform: uppercase;
}
.banner .banner-content p {
  font-size: 1.7rem;
  color: #ffffff;
  padding-top: 7.5rem;
  padding-bottom: 6rem;
  text-transform: none;
}
.banner .banner-content button {
  color: #ffffff;
  background: #db341e;
  width: 100%;
  max-width: 220px;
  display: inline-block;
  font-size: 1.7rem;
  text-transform: uppercase;
  padding: 3rem 0rem;
}
.banner .banner-content button.btn-01 {
  margin-right: 1.5rem;
}
.banner .coffee {
  flex-basis: 52%;
}

.banner .scroll-bar {
  flex-basis: 3%;
  margin-top: 19.3rem;
  margin-bottom: 24.9rem;
}
.banner .scroll-bar div {
  width: 1px;
  height: 170px;
  background: #ffffff;
  position: relative;
  z-index: 1;
}
.banner .scroll-bar div::before {
  position: absolute;
  content: "01";
  z-index: 2;
  top: -30px;
  left: -3px;
  font-size: 1.7rem;
  color: #ffffff;
}
.banner .scroll-bar div::after {
  position: absolute;
  content: "02";
  z-index: 2;
  bottom: -30px;
  left: -3px;
  font-size: 1.7rem;
  color: #ffffff;
}
