.header {
  background: url(../images/banner/beader-bg.png) no-repeat center center;
  background-size: cover;
  width: 100%;
  height: auto;
  position: relative;
  z-index: 1;
  border-left: 1.5rem solid #ffffff;
  border-bottom: 1.5rem solid #ffffff;
}
.header::after {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  height: 100%;
  width: calc(100%);
  max-width: 52.5rem;
  background: #db3721;
  z-index: 2;
}
.menu-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #ffffff;
}
.logo {
  padding-top: 3.2rem;
  margin-left: 5.5rem;
}

.main-menu {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  color: #ffffff;
  position: relative;
  z-index: 3;
}
.main-menu li {
  align-self: center;
  margin-right: 2.2rem;
}
.main-menu li a {
  font-size: 1.7rem;
  position: relative;
  z-index: 1;
  display: inline-block;
  padding: 61px 25px 12px 25px;
}

.main-menu li a:hover {
  color: #ffffff;
  background: #db341e;
}

.search-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #ffffff;
  position: relative;
  z-index: 3;
  top: 30px;
}
.search-bar .search-icon-bar i {
  font-size: 1.7rem;
  color: #ffffff;
}
.search-popup {
  position: absolute;
  top: 50px;
  right: 0;
  width: 420px;
  display: none;
}
.search-popup form {
  position: relative;
  z-index: 1;
  width: 100%;
  height: auto;
  display: block;
}
.search-popup form input {
  display: block;
  width: 100%;
  height: 5rem;
  padding: 25px;
  line-height: initial;
  transition: 0.3s linear;
  border: none;
  outline: none;
  border-radius: 3rem;
  font-size: 13px;
  color: #494848;
  background: #ffffff;
  border: 0.1rem solid #eeeeee;
}
.search-popup form button {
  display: block;
  position: absolute;
  top: 51px;
  right: 1px;
  z-index: 4;
  width: 100%;
  height: 50px;
  max-width: 100px;
  margin: 0;
  border: none;
  outline: none;
  border-radius: 30px;
  color: #020000;
  background: #1e1d46;
  text-align: center;
  transition: 0.3s linear;
  transform: translateY(-100%);
}
.search-popup form button i {
  color: #ffffff;
  font-size: 30px;
  line-height: 1.5;
}

.top-contact,
.navbar-toggler {
  position: relative;
  z-index: 3;
}
.top-contact {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  top: 30px;
}
.top-contact a {
  color: #ffffff;
  font-size: 1.7rem;
  display: inline-block;
  margin-right: 3rem;
}
.top-contact a i {
  color: #ffffff;
  font-size: 1.7rem;
  padding-right: 5px;
}

/* START HEADER BANNER STYLES  */
.banner {
  position: relative;
  z-index: 3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 30rem;
  padding-right: 15rem;
}
.banner .banner-content {
  flex-basis: 100%;
  max-width: 45%;
  margin-top: 19.3rem;
  margin-bottom: 24.9rem;
  color: #ffffff;
}
.banner .banner-content h1 {
  font-size: 12.1rem;
  color: #ffffff;
  text-transform: uppercase;
}
.banner .banner-content p {
  font-size: 1.7rem;
  color: #ffffff;
  padding-top: 7.5rem;
  padding-bottom: 6rem;
  text-transform: none;
}
.banner .banner-content button {
  color: #ffffff;
  background: #db341e;
  width: 100%;
  max-width: 220px;
  display: inline-block;
  font-size: 1.7rem;
  text-transform: uppercase;
  padding: 3rem 0rem;
}
.banner .banner-content button.btn-01 {
  margin-right: 1.5rem;
}
.banner .banner-content button:hover {
  color: #ffffff;
  background: #7e1603;
}
.banner .coffee {
  flex-basis: 100%;
  max-width: 52%;
}

.banner .scroll-bar {
  /* flex-basis: 3%; */
  margin-top: 19.3rem;
  margin-bottom: 24.9rem;
}
.banner .scroll-bar div {
  width: 1px;
  height: 170px;
  background: #ffffff;
  position: relative;
  z-index: 1;
}
.banner .scroll-bar div::before {
  position: absolute;
  content: "01";
  z-index: 2;
  top: -30px;
  left: -3px;
  font-size: 1.7rem;
  color: #ffffff;
}
.banner .scroll-bar div::after {
  position: absolute;
  content: "02";
  z-index: 2;
  bottom: -30px;
  left: -3px;
  font-size: 1.7rem;
  color: #ffffff;
}

/* ABOUT PART STYLES  */
.about-section {
  background: url(../images/about/about-bg.png) no-repeat center center;
  background-size: cover;
  border-right: 1.5rem solid #ffffff;
  border-bottom: 1.5rem solid #ffffff;
}
.about-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding-left: 22rem;
  padding-right: 16.5rem;
  padding-bottom: 12.5rem;
}
/* .about-wrapper .about-left-column {
  flex-basis: ;
  max-width: ;
} */
.about-wrapper .about-right-column {
  flex-basis: 100%;
  max-width: 39.215%;
}
.about-wrapper .about-right-column p {
  padding-bottom: 4rem;
  color: #ffffff;
}
.about-wrapper .about-right-column .btn-03:hover {
  color: #ffffff;
  background: #7e1603;
}

/* SERVICES SECTION DESIGN  */
.services-section {
  position: relative;
  border-left: 1.5rem solid #ffffff;
  border-bottom: 1.5rem solid #ffffff;
  background: #1f1d47;
}
.services-wrapper {
  padding-bottom: 125px;
}
.services-wrapper .section-title {
  padding-bottom: 75px;
}
.services-wrapper .btn-04 {
  display: block;
  margin: 0px auto;
}
.services-carosuel {
  padding: 0px 200px;
}
.services-section .carousel-content-box {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.services-section .single-item {
  flex-basis: 30%;
}
.services-section .single-item.item-02 {
  flex-basis: 36%;
}

.services-section .single-item .item-img {
  padding: 80px 60px;
  background: #ffffff;
}
.services-section .single-item.item-02 .item-img {
  padding: 80px 120px;
  background: #db3620;
}

.services-section .single-item .item-content {
  color: #ffffff;
  padding-top: 4rem;
  padding-bottom: 5.2rem;
  text-align: center;
}
.services-section .single-item .item-content {
  color: #ffffff;
  padding-top: 4rem;
  padding-bottom: 5.2rem;
  text-align: center;
}
.services-section .single-item .item-content h4 {
  font-size: 3rem;
}
.services-section .single-item .item-content p {
  font-size: 1.6rem;
  padding-top: 3rem;
}
.services-section .single-item.item-02 .item-content p {
  font-size: 1.6rem;
  padding: 1.6rem 3rem;
}
.services-section .btn-04:hover {
  color: #ffffff;
  background: #7e1603;
}

/* CONTACT SECTION STYLES  */
.contact-section {
  position: relative;
  overflow: hidden;
  border-right: 1.5rem solid #ffffff;
  border-bottom: 1.5rem solid #ffffff;
  background: #1e1d46;
}
.contact-wrapper {
  padding: 0px 220px;
  padding-bottom: 138px;
}
.contact-testimonial-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
}
.contact-testimonial-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
}
.contact-wrapper .contact-form {
  flex-basis: 100%;
  max-width: 41.271%;
}

.contact-wrapper .contact-form .section-title .heading {
  padding-bottom: 5.3rem;
}
.contact-wrapper .testimonial-wrapper {
  flex-basis: 100%;
  max-width: 44.316%;
}
.contact-wrapper .testimonial-wrapper .section-title .heading {
  padding-bottom: 6.3rem;
}
.contact-wrapper .contact-form form {
  width: 100%;
}
.contact-wrapper .contact-form form input {
  width: 100%;
  padding: 2.4rem;
  margin-bottom: 3rem;
  font-size: 1.7rem;
}
.contact-wrapper .contact-form form input::placeholder {
  color: #626262;
  text-transform: capitalize;
}
.contact-wrapper .contact-form form textarea {
  width: 100%;
  padding: 2.4rem;
  font-size: 1.7rem;
  margin-bottom: 4.5rem;
}
.contact-wrapper .contact-form form textarea::placeholder {
  color: #626262;
  text-transform: capitalize;
}
.contact-wrapper .contact-form form button {
  display: block;
  margin: 0 auto;
}
.contact-wrapper .contact-form form button:hover {
  color: #ffffff;
  background: #7e1603;
}
.contact-wrapper .feedback-slide {
  position: relative;
}
.contact-wrapper .feedback {
  position: relative;
  z-index: 1;
  background: #ffffff;
}
.contact-wrapper .feedback p {
  padding: 11.1rem 3rem 20rem 4rem;
  color: #1f1d47;
  font-size: 1.4rem;
}
.contact-wrapper .client-info {
  display: flex;
}
.contact-wrapper .client {
  position: absolute;
  bottom: -35px;
  left: 30px;
  z-index: 1;
}
.contact-wrapper .client::before {
  position: absolute;
  content: "";
  top: -20px;
  left: -15px;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: #db3721;
}

.contact-wrapper .client-bio {
  position: relative;
  z-index: 1;
  left: 180px;
}
.contact-wrapper .client-bio h4 {
  text-transform: uppercase;
  color: #ffffff;
  font-size: 2rem;
}
.contact-wrapper .client-bio h6 {
  text-transform: capitalize;
  color: #db3620;
  font-size: 1.4rem;
}
.coffee-01 {
  margin: 30px auto;
  margin-left: 360px;
}

/* FOOTER SECTION STYLES  */
.footert-section {
  background: #1f1d47;
  border-left: 1.5rem solid #ffffff;
  border-bottom: 1.5rem solid #ffffff;
  position: relative;
  z-index: 1;
}
.footert-section::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  display: block;
  background: url(../images/footer/coffee.png) no-repeat center center;
  background-size: cover;
}
.footert-section::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 50%;
  display: block;
  background: url(../images/footer/2.png) no-repeat center right;
  background-size: cover;
}
.footer-top-part {
  padding: 100px;
  color: #ffffff;
}
.footer-logo {
}
.footer-logo img {
  display: block;
  margin: 50px auto;
}
.subscribe {
  display: flex;
  width: 80%;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 180px;
}
.subscribe input {
  display: inline-block;
  width: 80%;
  margin: 0 auto;
  padding: 10px 0px;
  padding-right: 30px;
  font-size: 1.7rem;
  text-transform: capitalize;
  background: none;
  border-bottom: 1px solid #ffffff;
}
.subscribe input.submit {
  display: inline-block;
  width: 20%;
  margin: 0 auto;
  font-size: 2.5rem;
  color: #db3620;
}
.footer-content h4 {
  font-size: 3rem;
  text-transform: capitalize;
  margin-bottom: 4.9rem;
}
.footer-content ul > li > a {
  font-size: 2rem;
  color: #ffffff;
  text-transform: capitalize;
  transition: all 0.4s linear;
}
.footer-content ul > li:hover > a {
  color: #e7e2e1;
}
.contact-info .contact {
  margin-top: 7rem;
}
.contact-info .contact a {
  display: block;
  text-transform: capitalize;
  font-size: 2rem;
  color: #ffffff;
  margin-bottom: 1.5rem;
}
.contact-info .contact a:last-child {
  margin-bottom: 0;
}
.contact-info .contact a:hover {
  color: #6b3af1;
}
.contact-info .contact a.email {
  text-transform: none;
}
.contact-info .contact a i {
  padding-right: 5px;
}
.footer-bottom-part {
  padding-bottom: 4.9rem;
}
.footer-bottom-part p {
  text-align: center;
  color: #ffffff;
  font-size: 1.7rem;
}
